# Core dashboard libraries
matplotlib>=3.8.0
streamlit>=1.32.0
pandas>=2.2.1
numpy>=1.26.4
plotly>=5.20.0
scikit-learn>=1.0.0

# PDF generation
pdfkit>=1.0.0
openpyxl>=3.1.2       # Para exportar a Excel
reportlab>=4.0.7       # Para generar PDFs
